################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.ide
*.ide
*.cache
Project16_Mobile/Project16_Mobile/Project16_Mobile.Android/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
