/* ---------- HEADER ---------- */

header {
    height: 60px;
    width: 100%;
    background: #fff;
    box-shadow: 3px -1px 9px 0px #444;
	z-index: 1002;
	position: fixed;
    left: 0;
    top: 0;
}

header h1 {
    line-height: 60px;
    margin: 0;
    padding-left: 20px;
  /*  text-transform: uppercase; */
    font-size: 30px;
   /* font-weight: 900;*/
    letter-spacing: 1px;
	color: #2b2b2b;
    float: left;
}

header .icons {
    display: inline-block;
    width: 20px;
    height: 40px;
    margin: 10px 0 10px 5px;
}

header .icons i {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
}

header .icons .up {
    color: #00d07d;
}

header .icons .down {
    color: #ff5555;
}

/* ---------- HEADER NAVIGATION ---------- */

nav {
    float: right;
}

nav a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: 700;
	color: #2b2b2b;
 /*  text-transform: uppercase;  */
    font-size: 16px;
}

a.green:hover {
    color:#b1b1b1;
}

a.red:hover {
    color:#b1b1b1;
}

a.orange:hover {
    color:#b1b1b1;
}

a.blue:hover {
    color:#b1b1b1;
}

a.gray:hover {
    color:#b1b1b1;
}