body {
    background: #fffff;
    color: #2b2b2b;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
	/*background-color:#eaeaea;*/
}

a:-webkit-any-link {
    text-decoration: none;
}

.bg {
	    /* The image used */
		
    background-image: url("/InLineWebApp/Icons/00.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-bottom: 25px;
	
}

/* ---------- BANNER ---------- */
section.bannero {
    background: #6bb4ff;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    box-shadow: inset 0 10px 20px -10px rgba(0,0,0,0.2), 
                inset 0 -10px 20px -10px rgba(0,0,0,0.2);
}

section.banner {
    /*background: #eaeaea;*/
    width: 100%;
    padding: 50px 0;
	height: 300px;
    text-align: center;
}
section.bannero h1 {
    font-size: 50px;
    margin: 0 auto;
	color: #383838;
    letter-spacing: 1px;
    line-height: 130%;
}

section.bannero  p {
    width: 70%;
	font-size: 20px;
    max-width: 950px;
    margin: 0 auto;
    color: #000;
}

section.banner h1 {
    font-size: 80px;
	padding-top: 75px;
    margin: 0 auto;
	color: #fff;
    letter-spacing: 1px;
    line-height: 130%;
}

section.banner  p {
    width: 70%;
	font-size: 20px;
    max-width: 950px;
    margin: 0 auto;
    color: #dedede;
}

/* ---------- MAIN CONTAINER ---------- */

main.content {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;

}

.mainStuff {
	text-align: center;
}

.boxing {
	height: 350px;
    width: 300px;
    margin: 10px 0px 0px 40px;
    padding: 15px;
    font-size: 16px;
    float: left;
    box-shadow: 1px 1px 9px 1px #cacaca;
}

.mobileCard{
    height: 560px;
    width: 1070px;
    margin-left: 40px;
	margin-top: 50px;
    float: left;
	box-shadow: 1px 1px 9px 1px #cacaca;
	margin-bottom: 50px;
}
.mobPic{
    float: left;
    margin: 35px 0px 0px 30px;
    border: 1px;
	border-color: #c2c7c7;
    border-style: solid;
}
.mobText{
    margin-top: 120px;
    padding-right: 60px;
    padding-left: 585px;
	
}
aside.sidebar {
	position: absolute;
	width: 510px;
	box-shadow: 0px 0px 2px 1px #444;
	
}
aside.sidebar h2 {
	width: 100%;
	text-align: center;
	
}

section.articles {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding: 0px 0 20px 0; 
}

section.articles h2 {
    margin: 5px;
    margin-top: 8px;
    font-size: large;
}

article {
    margin: 0 0 50px 50px;
    width: calc(100% - 100px);
    padding: 25px;
    background: #fff;
    color: #000;
}

.waitlist {
    border: 1px solid #929292;
    margin-left: 830px;
    margin-top: 20px;
    height: 568px;
    box-shadow: 0px 0px 2px 1px #444;
}

.waititem {	
    width: 299px;
    background-color: #3293f7;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    color: white;
    box-shadow: 2px 2px 6px 0px #ababab;
}

.xhover:hover {
	color: #f44336;
}
.newparty {
	/*background-color: #6b6666;*/
	width: 270px;
	height: 1000px;
	margin-left: 540px;
	position: absolute;
	text-align: center;
	
	
}

.tables {
    border: 3px solid #484848;
    height: 760px;
    margin: 0px auto;
    width: 760px;

}
.restlist {
    height: 80px;
    margin: 0px auto;
    width: 800px;
    box-shadow: 2px 2px 9px 0px #888;
    margin-bottom: 30px;
	    border-style: solid;
    border-width: 1px;
    border-color: #a5a5a5;
}

.restlist div {
    padding: 10px;
    font-size: xx-large;
	    float: left;
}
.floating-box {
    float: left;
    width: 150px;
    height: 150px;
	z-index:99999;
    margin: 0px;  
}

#pInfo {
    background-color: #e6e6e6;
    padding: 10px;
    visibility: hidden;
    border-radius: 15px;
    margin-top: 20px;
}
#pInfo span {
	font-size: x-large;
	color: #3293f7;
}

.fade_div{
	display: none;
	position:absolute;
	width: 100%;
	text-align: center;
	line-height: normal;
	font-size: x-large;
	color: #f44336;
	
}

.icons{
    position: absolute;
    opacity: 1; 
    
    visibility: hidden;
}
.zindex {
	z-index: -15;
}

.styled-select select {
   height: 25px;
   text-align: center;
   font-size: 14px;
   width: 130px;
   margin-left: 10px;
   margin-top: 5px;

}

input.newinput {
    width: 100%;
    padding: 3px 15px;
    box-sizing: border-box;
	height: 30px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



/* ---------- FOOTER ---------- */

footer {
    display: inline-block;
    text-align: center;
    padding: 50px 0;
    width: 100%;
    border-top: 1px #909090 solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: #888;
    margin-top: 50px;
}