html body {
    height: 100%;
}

.form1 {
    background: #fff;
    width: 500px;
    margin-top: 50px;
}
/*
input[type=text], input[type=password], textarea, input {
    width: 100%;
    max-width:100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Space Mono', consolas, monospace !important;
}
*/
.oldinput {
    width: 100%;
    max-width:100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Space Mono', consolas, monospace !important;    
    
}

textarea {
    min-height:150px;
}

label {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
}

button {
    background-color: #3399cc;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    /* font-family: 'Space Mono', consolas, monospace !important; */
    text-transform: uppercase;
    letter-spacing: 1px;
}

button.restl {
	text-transform: none;
	letter-spacing: 0px;
	font-family: "Veranda", sans-serif;
}

.container {
    padding: 10px 20px;
}

.cancel {
    background-color: #f44336;
}

