body {
    background: #2b2b2b;
    color: #fff;
    font-family: 'Space Mono', consolas, monospace;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
}

a:-webkit-any-link {
    text-decoration: none;
}

/* ---------- BANNER ---------- */

section.banner {
    background: #3399cc;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    border: #fff solid;
    border-width: 5px 0;
    box-shadow: inset 0 10px 20px -10px rgba(0,0,0,0.2), 
                inset 0 -10px 20px -10px rgba(0,0,0,0.2);
}

section.banner h1 {
    font-size: 40px;
    max-width: 70%;
    margin: 0 auto;
    letter-spacing: 1px;
    line-height: 130%;
    margin: 0 auto 10px auto;
}

section.banner  p {
    width: 70%;
    max-width: 950px;
    margin: 0 auto;
    color: #000;
}

/* ---------- MAIN CONTAINER ---------- */

main.content {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;

}

/* ---------- ARTICLES CONTAINER ---------- */

section.articles {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding: 0px 0 20px 0; 
}

section.articles h2 {
    margin: 5px;
    margin-top: 8px;
    font-size: large;
}

article {
    margin: 0 0 50px 50px;
    width: calc(100% - 100px);
    padding: 25px;
    background: #fff;
    color: #000;
}

.tables {
    border: 3px solid #3399cc;
    height: 760px;
    margin: 0px auto;
    width: 760px;

}
.floating-box {
    float: left;
    width: 150px;
    height: 150px;
    margin: 0px;
    border: 1px solid #fff;  
}

.icons{
    position: absolute;
    opacity: 1; 
    
    visibility: hidden;
}

.styled-select select {
   height: 25px;
   text-align: center;
   font-size: 14px;
   width: 130px;
   margin-left: 10px;
   margin-top: 5px;
   font-family: 'Space Mono';

}

input.newinput {
    width: 100%;
    padding: 3px 15px;
    box-sizing: border-box;
    font-family: 'Space Mono', consolas, monospace !important;
}


/* ---------- FOOTER ---------- */

footer {
    display: inline-block;
    text-align: center;
    padding: 50px 0;
    width: 100%;
    border-top: 5px #fff solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: #888;
    margin-top: 50px;
}